.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    border: 1px solid black;
}

.sidebar {
    width: 20%;
    border: 1px solid red;
    
}

.main-body {
    width: 80%;
    border: 1px solid blue;
}